.login_page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/hero-bg.png');
}
.cs_card_content {
    width: 100%;
    max-width: 500px !important;
    padding: 20px 30px !important;
}
.header_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo_img {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
}